extends layout
block content
    .row
      .col-9
        h1.h3= `Registro de Salida - ${id}`
      .col-3
        button.btn.btn-outline-primary(name='button') Guardar Salida de Producto
    br  
    .row
      .col-12
        .table-responsive
          table.table.table-striped.table-sm
            thead
              tr
                th Modelo
                th Color
                th Almacen
                th Seleccionar
            each vehiculo, i in vehiculos 
              tbody
                td= vehiculo.modelo[0].nombre
                td= vehiculo.color
                td= vehiculo.almacen
                td
                  .form-check
                    input.form-check-input(type='checkbox', name='seleccionarChk', value=vehiculo._id)
