extends layout
block content
  .row
    .col-9
    .col-3
      a.button.btn.btn-outline-primary(href='/registroSalida/nuevo') Nueva Salida de Producto
  br
  - var cant = 0
  - var pTotal = 0
  .row
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th Registro
            th Nombre Producto
            th Cantidad
            th Precio
            th Fecha
            th Total
        each venta, i in ventas
          each modeloV, i in modelosV
            - cant = 0
            - pTotal = 0
            each producto in venta.cuerpoSalida
              each item in producto
                if item.modelo[0].nombre == modeloV.modelo
                  - cant = cant + 1
                  - pTotal = pTotal + modeloV.pVenta
            if cant>0
              tbody
                td= venta.idRegistro
                td= modeloV.modelo
                td= cant
                td= modeloV.pVenta
                td= venta.fSalida
                td= pTotal
                - break
          each modeloR, i in modelosR
            - cant = 0
            - pTotal = 0
            each producto in venta.cuerpoSalida
              each item in producto
                if item.modelo[0].nombre == modeloR.modelo
                  - cant = cant + 1
                  - pTotal = pTotal + modeloR.pVenta
            if cant>0
              tbody
                td= venta.idRegistro
                td= modeloR.modelo
                td= cant
                td= modeloR.pVenta
                td= venta.fSalida
                td= pTotal
                - break
