extends layout
block content
  table.table
    thead.thead-dark
      tr
        th(scope='col') Mes
        th(scope='col') Producto
        th(scope='col') Cantidad
        th(scope='col') Suma Total de Venta
    tbody
      - var totalMes = 0
      each mes, i in ventaMensual
        - totalMes = 0
        if mes.productosVendidos[0] != null
          tr
            th(scope='row')= mes.mes
            td 
            td 
            td 
          each producto, i in mes.productosVendidos
            - totalMes = totalMes + producto.montoAcumulado
            tr
              th(scope='row')
              td= producto.producto
              td= producto.cantidad
              td= producto.montoAcumulado
          tr
            th(scope='row') Total del Mes
            td 
            td 
            td= totalMes
